{% extends 'rango/base.html' %}

{% block title %}List all {% endblock %}

{% block body_block %}
        <h1>Search Categories</h1>
        <input class="input-medium search-query" type="text" name="suggestion" value="" id="suggestion" />
        <div id="suggested_categories"></div>

        <h1>All Categories</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                    <li><a href="/rango/category/{{ category.url }}/">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h1>Search with Rango</h1>
        <form id="user_form" method="post" action="/rango/search/">
            {% csrf_token %}
            <input type="text" size="50" name="query" value="" id="query" />
            <input type="submit" name="submit" value="Search">
        </form>

        <ul>
        {% if user.is_authenticated %}
            <li><a href="/rango/add_category/">Add a New Category</a></li>
            <li><a href="/rango/logout/">Logout</a></li>
        {% else %}
            <li><a href="/rango/register/">Register Here</a></li>
            <li><a href="/rango/login/">Login</a></li>
        {% endif %}
            <li><a href="/rango/about/">About</a></li>
            <li><a href="/rango/profile/">My Profile</a></li>
            <li><a href="/rango/other_profiles/">Users</a></li>
        </ul>
        <br/>

        {% load static %}
        <img src="{% static "rango.png" %}" alt="Picture of Rango" />

{% endblock %}
